#faq{ 
    background-color:#9FB758;
    padding: 100px 0;

}
.questions{ 
    width: 600px;
    margin: 0 auto;
}

.questions div{ 
    margin: 40px 0;
}
.questions h4, p{ 
    text-align: left;
}

@media only screen and (max-width:750px){ 
    .questions{ 
        width: 90%;
        
    }
}